body { background: #6761da; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 42px; display: flex; }
.block-config-0 { color: #2961ec; font-size: 13px; margin-bottom: 5px; }
.block-user-1 { color: #ebc206; font-size: 12px; margin-bottom: 5px; }
.block-session-2 { color: #904c97; font-size: 15px; margin-bottom: 5px; }
.block-product-3 { color: #f48e20; font-size: 14px; margin-bottom: 5px; }
.block-order-4 { color: #513216; font-size: 16px; margin-bottom: 5px; }